STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgresql://postgres:Cvr9suykftw2@localhost:5432/medusastoredb
DB_NAME=medusastoredb
DB_USERNAME=postgres
DB_PASSWORD=Cvr9suykftw2
DB_HOST=localhost
DB_PORT=5432
